.hero-unit
  %h1 Lo-Rem! Ip-Sum! Dough-Lor!
  %p Behold the majesty of generic filler text!
  %p 
    %i.icon-4x.icon-magic
  %p
    Here are some magical and awesome things:
    %ul
      %li(ng-repeat="thing in awesomeThings") {{thing}}
